.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.idea/gradle.xml
/.idea/markdown.xml
/.idea/misc.xml
/.idea/sonarlint/issuestore/1
/.idea/sonarlint/issuestore/2
/.idea/sonarlint/issuestore/8
/.idea/sonarlint/issuestore/c
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/1
/.idea/sonarlint/securityhotspotstore/2
/.idea/sonarlint/securityhotspotstore/8
/.idea/sonarlint/securityhotspotstore/c
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/vcs.xml
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/modules
/.idea/modules.xml
/.idea
